:root {
  --pico-font-family: "IBM Plex Sans", sans-serif;
  --pico-border-radius: 0.75rem;
}

body {
  padding: 2rem 0;
}

nav a,
.tag-link {
  text-decoration: none;
}

.pagination {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#search-results article {
  margin-top: 1rem;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}
